apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-infra
  namespace: argocd
  finalizers:
    - argocd.argoproj.io/resources-finalizer
spec:
  project: default
  source:
    repoURL: https://github.com/JKBGIT1/brightpick-interview-task.git
    targetRevision: feat/deploy-web-app-and-set-up-gitops
    path: k8s/infra
    directory:
      recurse: false
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
