apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: argo-helm
  namespace: argocd
spec:
  interval: 1h
  url: https://argoproj.github.io/argo-helm
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  interval: 10m
  chart:
    spec:
      chart: argo-cd
      version: 9.4.1
      sourceRef:
        kind: HelmRepository
        name: argo-helm
        namespace: argocd
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    server:
      service:
        type: ClusterIP
