apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: brightpick-infra
  namespace: flux-system
spec:
  interval: 5m
  url: https://github.com/JKBGIT1/brightpick-interview-task.git
  ref:
    branch: feat/basic-security-hardening
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infra
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: brightpick-infra
  path: ./k8s/infra
  prune: true
  timeout: 5m # first installation of helm charts takes a while, especially for Linkerd's charts, because their deployment is interdependent
  wait: true
  healthChecks: []
