apiVersion: v1
kind: Namespace
metadata:
  name: nginx-web-app
  annotations:
    linkerd.io/inject: enabled
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nginx-web-app
  name: nginx-web-app
  namespace: nginx-web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-web-app
  template:
    metadata:
      labels:
        app: nginx-web-app
    spec:
      containers:
      - image: nginx:stable-alpine3.23-slim
        name: nginx
        resources: 
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
        ports:
        - containerPort: 80
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-web-app
  namespace: nginx-web-app
  labels:
    app: nginx-web-app
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
  selector:
    app: nginx-web-app
